
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <div class="panel-body">
  </div>
  <table>

  </table>

  <table class="table">
      <tr>
          <td style="font-size: 20px;">DISH ID</td>&nbsp;
          <td style="font-size: 20px;">DISH NAME</td>&nbsp;
          <td style="font-size: 20px;">DISH PRICE</td>&nbsp;
          <td style="font-size: 20px;">DISH IMAGE</td>&nbsp;
          </tr>
    <tr *ngFor="let item of arrdish">
      <td style="font-size: 20px;"><input type="checkbox"> {{item.dish_id}}</td>&nbsp;
      <td style="font-size: 20px;">{{item.dish_name}}</td>&nbsp;
      <td style="font-size: 20px;">{{item.dish_price}}</td>&nbsp;
      <td style="font-size: 20px; height:30px;width:30px;"><img style="height:50px;width:50px;" src="http://localhost:3000/images/dish_img/{{item.dish_img}}"></td>&nbsp;

      <td><button class="btn btn-primary" (click)="ondeletedish(item)">DELETE</button></td>&nbsp;<br><br>
      <td><button class="btn btn-primary" (click)="updatedish(item)">UPDATE</button></td>
    </tr>
    <button class="btn btn-primary">DELETE</button>

  </table>
</div>
