<button (click)="onback()">BACK</button>
<p>ADMIN SIDE</p>
<button class="form-control input-sm" (click)="onaddcusine()" style="font-size: 20px;background-color:lightblue;">ADD CUSINE</button><br>
<button class="form-control input-mi" (click)="ondispalycusine()" style="font-size: 20px; background-color:lightblue;">DISPLAY ALL CUSINE</button><br>
<button class="form-control input-mi" (click)="onadddish()" style="background-color:lightgrey; font-size: 20px;" >ADD DISH</button><br>
<button class="form-control input-mi" (click)="ondisplaydish()" style="background-color:lightgrey; font-size: 20px;">DISPLAY ALL DISH</button><br>
