
<app-heder></app-heder>

<div class="row">
  <div class="col-md-3">
      <ul class="list-group">
        <li (click)="onAllclick()" class="list-group-item" >All</li>
        <li (click)="oncatclick(item)" *ngFor="let item of arr1" class="list-group-item">{{item.cname}}</li>

      </ul>

    </div>

  <div class="col-md-9">
    <div class="row">
      <div >
      <div *ngFor="let item of arr" class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{item.image}}"  style="height:150px; width:990px;" alt="...">
          <div class="caption">

            <p>{{item.p_id}}</p>
            <h3>{{item.p_name}}</h3>
            <h3> Rs.{{item.p_price}}</h3>

            <b><button class="btn btn-primary" (click)="onproductview(item)" >View
              <span class="glyphicon"></span>
            </button>
</b>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>



