<b><div>
  <table style="margin-left: 30px;">
     <!-- <tr>
      <td>DISH ID</td>
      <td><input type="number" [(ngModel)]="dish_id" class="form-control input-mi"></td>
    </tr><br>  -->
    <tr>
      <td>DISH NAME</td>
      <td><input type="text" [(ngModel)]="dish_name" class="form-control input-mi"></td>
    </tr><br>
    <tr>
      <td>DISH PRICE</td>
      <td><input type="number" [(ngModel)]="dish_price" class="form-control input-mi"></td>
    </tr><br>
    <tr>
      <td>DISH IMG</td>
      <td><input type="file"></td>
    </tr><br>
    <!-- <tr>
      <td>CUSINE ID</td>
      <td><input type="number" [(ngModel)]="dish_id" class="form-control input-mi"></td>
    </tr><br> -->
    <button class="btn btn-primary">UPDATE</button>
  </table>
</div>
</b>
